@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Libre+Baskerville&family=Merriweather:wght@700&family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  color: rgb(96 101 123);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e1e1e;
  min-height: 100vh;
  padding: 16px;
}

.container {
  padding: 30px;
  margin-top: 40px;
  width: 100%;
  max-width: 800px;
}

h2 {
  color: #11ffff;
  text-align: center;
  font-size: 48px;
  letter-spacing: -0.2px;
  font-family: "Merriweather", serif;
}

p {
  max-width: 50rem;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 60px;
  font-size: 18px;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 1.6;
  color: #11ffff;
}

.main-content {
  width: 100%;
  min-height: 300px;
  padding: 18px;
  resize: none;
  box-shadow: 0 5px 30px 0px #11ffff;
  background: rgba(30, 30, 30, 0.27);
  border: 0.5px solid black;
  border-radius: 16px;
  font-size: 18px;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 1.6;
  color: #11ffff;
  margin-bottom: 24px;
  overflow-wrap: break-word;
  word-break: break-word;
}

.btn-style {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}

button {
  background: #484848a1;
  color: #11ffff;
  border-radius: 6px;
  padding: 14px 24px;
  border: 1px solid black;
  font-size: 16px;
  cursor: pointer;
}

button:focus,
button:hover {
  background: rgb(1, 50, 39);
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
}

/* Responsive styling */
@media screen and (max-width: 768px) {
  h2 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
    word-spacing: normal;
    margin-bottom: 40px;
    margin-top: 15px;
  }

  .main-content {
    font-size: 16px;
    padding: 12px;
    min-height: 200px;
  }

  button {
    padding: 12px 20px;
    font-size: 14px;
  }
}
